diff -ruN ansiblelint.orig/config.py ansiblelint/config.py
--- ansiblelint.orig/config.py	2022-12-06 23:43:41.051495108 +0100
+++ ansiblelint/config.py	2022-12-06 23:44:31.873463758 +0100
@@ -35,7 +35,6 @@
     "name[casing]",
     "name[play]",
     "name[prefix]",
-    "role-name",
     "warning[empty-playbook]",  # because ansible considers it warning only
     "role-name[path]",  # too new
 ]
